@model TesteBalta.Models.ViewModels.AssinaturaViewModel

@{
    ViewData["Title"] = "Editar Assinatura";
}

<div class="text-center">
    <p class="display-6">Editar Assinatura</p>
    <br />
</div>

<form class="row" asp-controller="Assinaturas" asp-action="Editar" method="post">

    <div asp-validation-summary="All" class="text-danger">   </div>
    <div class="d-flex justify-content-center">
        <div class="col-sm-4 mb-4">
            <label for="alunoId" class="col-form-label">Escolha o Aluno</label>
            <select name="AlunoId" asp-for="AlunoId" class="form-select" asp-items="ViewBag.Alunos">
                <option value="" disabled selected hidden>Selecione o Aluno</option>
            </select>
            @Html.ValidationMessageFor(x => x.AlunoId)
        </div>

        <div class="col-sm-4">
            <label for="dataTermino" class="col-form-label">Termino</label>
            <input type="date" class="form-control" asp-for="Termino">
            @Html.ValidationMessageFor(x => x.Termino)
        </div>
    </div>


    <div class="col-sm-12 text-center">
        <br />
        <button type="submit" class="btn btn-success">Editar Assinatura</button>
        <a class="btn btn-danger" asp-controller="Assinaturas" asp-action="Index">Voltar</a>
    </div>
</form>