@{
    ViewData["Title"] = "Home";
}
<h2 class="text-center">Seja bem-vindo ao CRUD!</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-light p-3">
            

            <p style="font-size: small;">
                Agradeço a oportunidade de participar deste teste e estou entusiasmado e motivado com a possível oportunidade!
                Obrigado pela consideração e pela oportunidade.
                
                Atenciosamente,
                Gabriel
            </p>
            <div class="text-center mt-3">
                <a href="https://github.com/ogabrielsete" <i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/gabriel-srodrigues/" <i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

